table {
   border-collapse: collapse;
   border: none;
   width: 100%;
}

td {
    border: 2px solid var(--color-teal-dark);
    padding: 0.2rem 0;
}

td.town {
    width: 7rem;
}

td.roles {
    width: 8rem;
}

.roles-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.teacher-role, .student-role, .remove-role {
    color: var(--color-orange);
    border: none;
    background-color: white;
    font-style: italic;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius-small);
}

.student-role {
    color: var(--color-teal-dark);
}

.remove-role {
    color: red;
}

.edit-school {
    color: red;
    margin-left: 0.5rem;
}

.info {
    color: var(--color-info);
    margin-left: 0.5rem;
}

@media only screen and (max-width: 1000px)
{
    td.town {
        width: 6rem;
    }

    td.roles {
        width: 4rem;
    }

    td.roles span {
        display: none;
    }

    .roles-container {
        flex-direction: row;
        justify-content: center;
        gap: 0.4rem;
    }
}