<table>
    <tr>
        <td class="town">{{school.schoolDistrict}}</td>
        <td class="town">{{school.schoolTown}}</td>
        <td class="school">
            {{school.schoolName}}
            <a [routerLink]="['/schools', school._id]">
                <i class="fa-solid fa-circle-info info"></i>
            </a>
            <i *ngIf="(currentUser$ | async)?.role == 'teacher' && (currentUser$ | async).schoolId._id == school._id" class="fa-solid fa-pen-to-square edit-school"></i>
        </td>
        <td class="roles">
           <div class="roles-container">
            <a *ngIf="!(currentUser$ | async).role" class="teacher-role" (click)="handleAddTeacher(school)">
                <i class="fa-solid fa-user-graduate"></i>
                <span>Учител</span>
            </a>
            <a *ngIf="!(currentUser$ | async).role" class="student-role" (click)="handleAddStudent(school)">
                <i class="fa-solid fa-user-large"></i>
                <span>Ученик</span>
            </a>
            <a *ngIf="!!(currentUser$ | async).role && (currentUser$ | async).schoolId._id == school._id" href="" class="remove-role">
                <i class="fa-solid fa-user-large-slash"></i>
                <span>Премахни</span>
            </a>
           </div>
        </td>
    </tr>
</table>