<h2>Регистрация на нов потребител</h2>

<form class="register" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">

        <!-- username -->
        <p class="field field-icon">
            <label for="username"><span><i class="fas fa-user"></i></span></label>
            <input [class.input-error]="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid" formControlName="username" [class.input-error]="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid" type="text" name="username" id="username"
                placeholder="Johny">
        </p>
        <ng-container *ngIf="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid">
            <!-- {{registerFormGroup.controls['username'].errors | json}} -->
             <p *ngIf="registerFormGroup.controls['username'].errors?.required" class="error">
                Полето е задължително!
             </p>
             <p *ngIf="registerFormGroup.controls['username'].errors?.minlength" class="error">
                Името трябва да е поне 5 символа!
             </p>
         </ng-container>


        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input [class.input-error]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid" formControlName="email" type="email" name="email" id="email" placeholder="john.doe@gmail.com" [class.input-error]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
        </p>

        <ng-container *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
         
            <!-- {{registerFormGroup.controls['email'].errors | json}} -->
            <p *ngIf="registerFormGroup.controls['email'].errors?.required" class="error">
                Полето е задължително!
            </p>
          
            <p *ngIf="registerFormGroup.controls['email'].errors?.email" class="error">
                Email адресът е невалиден!
            </p>
        </ng-container>


        <!-- telephone -->
        <p class="field field-icon">
            <label for="tel"><span><i class="fas fa-phone"></i></span></label>
            <input formControlName="tel" type="text" name="tel" id="tel" placeholder="885 888 888">
        </p>

        <div formGroupName="passwords">
            <!-- password -->
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input [class.input-error]="passwordsGroup.controls['password'].touched && passwordsGroup.controls['password'].invalid" formControlName="password" type="password" name="password" id="password" placeholder="******">
            </p>

            <ng-container *ngIf="passwordsGroup.controls['password'].touched && passwordsGroup.controls['password'].invalid">
                <p *ngIf="passwordsGroup.controls['password'].errors?.required" class="error">
                    Полето е задължително!
                </p>
                <p *ngIf="passwordsGroup.controls['password'].errors?.minlength" class="error">
                    Паролата трябва да е поне 5 символа!
                </p> 
                <p *ngIf="passwordsGroup.controls['password'].errors?.pattern" class="error">
                    Паролата трябва да съдържа само латински букви и цифри!
                </p>
            </ng-container>

            <!-- rePassword -->
            <p class="field field-icon">
                <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                <input [class.input-error]="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['rePassword'].invalid" formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="******">
            </p>

            <ng-container *ngIf="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['rePassword'].invalid">
                <p class="error">
                    Двете пароли не съвпадат!
                </p>
            </ng-container>
        </div>

        <button [disabled]="registerFormGroup.invalid" [class.disabled]="registerFormGroup.invalid">Create Account</button>

        <p class="text-center">
            Вече имате регистрация?
            <a routerLink="/login">Вход</a>
        </p>

</form>