.site-logo a {
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    color: var(--color-teal-light);
    text-shadow: 3px 3px black;
    font-family: var(--font-montserrat);
}

nav {
    background-color: var(--color-teal-dark);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0px 0.6rem;
}

nav a, i {
    color: var(--color-teal-light);
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 5px;
}

nav a:hover {
    color: var(--color-teal-medium);
    /* border-bottom: 5px solid var(--color-teal-light); */
    transition: all 200ms;
}


.notification{
    position: fixed;
    z-index: 10;
    right: 1.2rem;
    top: 4.2rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-small);
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: none;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    background-color: rgba(181, 72, 41, 0.7);
 }
  
.error-message {
    background-color: rgba(181, 72, 41, 0.7);
}
  
.success-message {
    background-color: rgba(44, 82, 130, 0.75);
}
  


@media only screen and (max-width: 750px)
{
    li {
        margin: 0px 0.4rem;
    }

    .notification {
        right: 1rem;
        top: 4rem;
    }
}


@media only screen and (max-width: 650px)
{    
    nav {
        flex-direction: column;
        justify-content: space-between;
    }

    nav div {
        margin: 0.4rem;
    }

    .navigation {
        width: 100%;
        justify-content: space-between;
    }

    ul {
        padding: 0;
    }

    .notification {
        right: 0.6rem;
        top: 7.2rem;
    }
}


@media only screen and (max-width: 450px)
{ 
    .navigation, .right-nav, .left-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;        
    }

    a {
        display: block;
        margin: 0.4rem;
    }

    .notification {
        right: 0.8rem;
        top: 16.2rem;
    }

}

