<nav>
    <div class="site-logo"><a routerLink="/home">Училище+</a></div>
    <div class="navigation">
        <ul class="left-nav">
            <li><a routerLink="/events">Събития</a></li>
            <li *ngIf="(isLoggedIn$ | async)"><a routerLink="/events/new">Ново събитие</a></li>
        </ul>
        <ul class="right-nav">
            <li *ngIf="(isLoggedIn$ | async)"><a routerLink="/profile">
                    <i *ngIf="(currentUser$ | async)?.role == 'student'" class="fa-solid fa-user-large"></i>
                    <i *ngIf="(currentUser$ | async)?.role == 'teacher'" class="fa-solid fa-user-graduate"></i>
                    <i *ngIf="!(currentUser$ | async).role" class="fa-solid fa-user-large-slash"></i>
                    {{(currentUser$ | async).username }}
                </a></li>
            <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Вход</a></li>
            <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register">Регистрация</a></li>
            <li *ngIf="(isLoggedIn$ | async)">
                <a href="javascript:void(0);" (click)="logoutHandler()">Изход</a>
            </li>
        </ul>
    </div>
</nav>
<p *ngIf="!!message" [ngClass]="{'error-message': isErrorMessage, 'success-message': !isErrorMessage}"
    class="notification">
    {{message}}
</p>