.site-logo a {
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    color: var(--color-teal-light);
    text-shadow: 3px 3px black;
    font-family: var(--font-montserrat);
}

nav {
    background-color: var(--color-teal-dark);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0px 0.6rem;
}

nav a, i {
    color: var(--color-teal-light);
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 5px;
}

nav a:hover {
    color: var(--color-teal-medium);
    /* border-bottom: 5px solid var(--color-teal-light); */
    transition: all 200ms;
}


@media only screen and (max-width: 700px)
{
    li {
        margin: 0px 0.4rem;
    }
}


@media only screen and (max-width: 600px)
{    
    nav {
        flex-direction: column;
        justify-content: space-between;
    }

    nav div {
        margin: 0.4rem;
    }

    .navigation {
        width: 100%;
        justify-content: space-between;
    }

    ul {
        padding: 0;
    }
}


@media only screen and (max-width: 450px)
{ 
    .navigation, .right-nav, .left-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;        
    }

    a {
        display: block;
        margin: 0.4rem;
    }
}