<div class="event-container" *ngIf="!!event">
    <div class="event-name"> {{event.eventName}} </div>

    <div class="event-description">
        <p>
           {{event.eventDescription}}
       </p>
    </div>

    <div class="event-info">
        <p>
            Дата: <time>{{event.eventTime | date: 'dd-MM-yyyy'}}</time>
        </p>
        <p>
            Час: <time>{{event.eventTime | date: 'h:mm'}}</time>
        </p>
        <p>Участници: <span class="subscribers-count">{{event.subscribers.length}}</span></p>
        <p>Коментари: <span class="comments-count">{{event.eventPosts.length}}</span></p>
    </div>

    <div class="buttons">
        <button *ngIf="(isLoggedIn$ | async)" class="comment-btn">
            Добави коментар
        </button>
        <button *ngIf="(isLoggedIn$ | async)" class="subscribe-btn" [class.subscribe]="canSubscribe"
            [class.unsubscribe]="!canSubscribe" (click)="canSubscribe ? handleSubscribe(event) : handleUnsubscribe(event)">
            {{ canSubscribe ? 'Запиши се' : 'Отпиши се' }}
        </button>
    </div>
</div>

<div class="loading" *ngIf="!event">
    Зареждане...
</div>