<h2>Добавяне на училище</h2>

<form #newSchoolForm="ngForm" (ngSubmit)="submitNewSchool(newSchoolForm)">
    <div class="form-element">
        <label for="schoolName">Име на училище <span class="red">*</span></label>
        <input #schoolName="ngModel" [class.input-error]="schoolName.touched && schoolName.invalid" type="text"
            name="schoolName" ngModel id="schoolName" required minlength="3">
        <ng-container *ngIf="schoolName.touched && schoolName.invalid">
            <p *ngIf="schoolName.errors.required" class="error">
                Полето е задължително.
            </p>
            <p *ngIf="schoolName.errors.minlength" class="error">
                Името трябва да е поне 3 букви.
            </p>
        </ng-container>
    </div>

    <div class="form-element">
        <label for="schoolDistrict">Област <span class="red">*</span></label>
        <input #schoolDistrict="ngModel" [class.input-error]="schoolDistrict.touched && schoolDistrict.invalid" type="text"
            name="schoolDistrict" ngModel id="schoolDistrict" required minlength="3">
        <ng-container *ngIf="schoolDistrict.touched && schoolDistrict.invalid">
            <p *ngIf="schoolDistrict.errors.required" class="error">
                Полето е задължително.
            </p>
            <p *ngIf="schoolDistrict.errors.minlength" class="error">
                Името трябва да е поне 3 букви.
            </p>
        </ng-container>
    </div>

    <div class="form-element">
        <label for="schoolTown">Населено място <span class="red">*</span></label>
        <input #schoolTown="ngModel" [class.input-error]="schoolTown.touched && schoolTown.invalid" type="text"
            name="schoolTown" ngModel id="schoolTown" required minlength="3">
        <ng-container *ngIf="schoolTown.touched && schoolTown.invalid">
            <p *ngIf="schoolTown.errors.required" class="error">
                Полето е задължително.
            </p>
            <p *ngIf="schoolTown.errors.minlength" class="error">
                Името трябва да е поне 3 букви.
            </p>
        </ng-container>
    </div>

    <div class="form-element">
        <button type="button" (click)="navigateToSchools()" class="cancel">Отказ</button>
        <button [disabled]="newSchoolForm.invalid" [class.disabled]="newSchoolForm.invalid"
            class="public">Запис</button>
    </div>
</form>